git+https://github.com/ShunchiZhang/virtualhome.git@wah-fix
anytree==2.13.0
ffmpeg-python==0.2.0
json_repair==0.46.0
litellm==1.73.2
matplotlib==3.10.1
numpy==2.2.4
openai==1.75.0
opencv-python==4.11.0.86
pandas==2.2.3
pydantic==2.11.3
rich==14.0.0
scipy==1.15.2
seaborn==0.13.2
termcolor==1.1.0
tqdm==4.66.3
Flask==3.1.2
ipdb==0.13.13